html {
  background-color: #eaeaea;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: 5%;
}

#heading{
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

#input {
  margin-bottom: 20px;
}

#startButton {
  color: black;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#question, span {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: black;
}

#question{
  margin-left: 50px;   
  margin-right: 50px;
}

form#answers{
  margin-top: 30px;
  margin-left: 25%;
}

#submit-button{
  margin-top: 10px;
  color:black
}

form#answers span{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

#timer_div{
  margin-left: 70%;
}

#timer_div span{
  font-size: xx-large;
}

form#usernameBar.container {
  max-width: 260px;
}
