html {
  background-color: #eaeaea;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: 5%;
}

#heading{
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

#input {
  margin-bottom: 20px;
}

#startButton {
  color: black;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#question, span {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: black
}

form#answers{
  margin-top: 30px;
  margin-left: 10%;
}

#modal {
  border-radius: 10px;
  color: white;

  margin: 1em;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#modal p {
  margin-bottom: 0;
}
