html {
  background-color: #eaeaea;
  height: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: 5%;
}

#heading{
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

#input, #inputTimer, #inputDifficulty {
  margin-bottom: 20px;
}

#startButton, #quiz_button, #logout_button {
  color: black;
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#question, span, #results {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: black;
}

#question{
  margin-left: 50px;   
  margin-right: 50px;
}

form#answers{
  margin-top: 30px;
  margin-left: 25%;
}

#submit-button{
  margin-top: 10px;
  color:black
}

form#answers span{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

#timer_div{
  margin-left: 70%;
}

#timer_div span{
  font-size: xx-large;
}


form#usernameBar.container {
  max-width: 260px;
}

#modal {
  border-radius: 10px;
  color: white;

  margin: 1em;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#modal p {
  margin-bottom: 0;
}

#total{
  padding: 10px;
  font-size: x-large;
  margin-bottom: 20px;
}

#number_right{
  padding: 10px;
  font-size: x-large;
}

#number_wrong{
  padding: 10px;
  font-size: x-large;
}

#percentage {
  padding: 10px;
  font-size: x-large;
}

#quiz_button{
  margin-bottom: 10px;
  max-width: 250px;
}

#logout_button{
  max-width: 250px;
}

body {
  min-height:100%; 
  position:relative; 
  padding-bottom:20px;
}

footer {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  background-color: #c2c1c1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}

footer a {
  color: #fff176 !important;
}

footer a:hover {
  text-decoration: underline;
}

#millispan {
  margin-left: -5px;
}

a.dropdown-trigger.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
   